@media screen and (max-width: 768px) {
	header {
		padding: 0;
		margin-top: 25px;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	#logo-booki {
		width: 20%;
		display: flex;
		margin: auto;
		margin-bottom: 40px;
	}

	.menu {
		width: 100%;
	}

	.menu a {
		flex: 1;
		text-align: center;
		border-bottom: 1px solid #dcdcdd;
	}

	.menu a:hover {
		border-top: transparent;
		border-bottom: 3px solid blue;
	}

	h1 {
		font-size: 19px;
		justify-content: center;
	}

	h3 {
		padding-bottom: 15px;
	}
	h4{
		padding-bottom: 6px;
		font-size: 15px;
	}

	#research-input {
		width: 60%;
	}

	#button-research {
		display: none;
	}

	#research-button-phone {
		color: white;
		display: inline-block;
		margin-left: -5px;
		font-weight: 700;
		font-size: 16px;
		background-color: #0065FC;
		width: 49px;
		height: 42px;
		border-radius: 0 15px 15px 0;
		border: none;
	}

	#icon {
		width: 15%;
	}

	.search-result {
		text-align: justify;
		margin-right: 24px;
		margin-top: 70px;
	}

	.filters {
		flex-wrap: wrap;
		padding-top: 16px;
		margin-right: 16px;
	}

	.filter i {
		font-size: 13px;	
	}

	.search-filter .filter {
		width: 100%;
	}

	.filter span {
		font-size: 9px;
	}

	.filter-one {
		gap: 5px;
		margin: auto;
		width: 100%;
	}

	.filter-two {
		gap: 5px;
		margin: auto;
		width: 100%;
	}

	#phrase-info {
		text-align: justify;
		font-size: 12px;
	}

	.hebergements-popular {
		flex-direction: column-reverse;
	}

	#right-side {
		width: 100%;
		border-radius: 0;
		padding-bottom: 16px;
		flex-direction: column;
	}

	#title-right-side {
		font-size: 16px;
		padding-left: 16px;
		padding-right: 20px;
		padding-top: 20px;
		margin-bottom: 0;
	}

	/* ACCOMODATION ROOM SECTION */

	.left-side {
		padding-top: 0;
		padding-bottom: 0;
		width: auto;
		background-color: transparent;
		margin-left: -5px;
	}

	#title-left-side {
		font-size: 16px;
		padding-top: 0;
		padding-left: 4px;
	}

	.appartment-card {
		max-width: 100%;
		box-shadow: 0px 0px 7px 0px #dcdcdd;
	}

	.appartment-card img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	.stars-popular {
		margin-top: 60px;
	}

	#show-more {
		display: none;
	}
	.info-popular-room-card{
		justify-content: space-between;
	}

	/* ACTIVITIES ON MARSEILLE */
	#activites {
		margin-top: 0;
		padding-left: 20px;
		padding-right: 5px;
		padding-bottom: 50px;
	}

	#title-activite{
		margin-left: 5px;
	}
	.activites-Marseille {
		flex-direction: column;
		width: auto;
		margin-left: -3px;
		margin-right: 10px;
	}

	.activites-Marseille img {
		height: 130px;
		width: 100%;
		object-position: center;
	}

	#activites .marseille h3 {
		padding-bottom: 15px;
	}

	/*FOOTER*/
	Footer {
		padding: 30px;
		height: auto;
		flex-direction: column;
		margin-right: inherit;
		margin-left: inherit;
	}

	footer ul {
		line-height: 2;
		font-size: 13px;
	}
	.list-footer{
		line-height: 4;
		padding-right: 20px;
		padding-left: 1px;
	}
}