@media screen and (min-width:769px) and (max-width: 992px) {
	header {
		margin-top: 10px;
	}

	#logo-booki {
		margin-left: 27px;
	}

	p {
		font-size: 13px;
	}

	#main-title {
		margin-left: 46px;
		padding-bottom: 10px;
	}

	#button-research {
		width: 12%;
	}

	#research {
		margin-left: 46px;
	}

	.search-filter {
		display: flex;
		margin-left: 46px;
	}

	#h2-filters {
		padding-top: 10px;
	}

	.search-result {
		margin-left: 59px;
	}

	/*HEBERGEMENT*/
	.hebergements-popular {
		flex-direction: column;
		margin-left: 46px;
		margin-right: 46px;
	}

	.info-hebergement-card {
		margin-left: 10px;
		line-height: 1.5;
	}

	h4 {
		font-size: 14px;
	}

	#right-side {
		width: 100%;
		padding-bottom: 20px;
	}

	/*POPULAR*/
	#title-left-side{
		font-size: 16px;
	}
	.left-side {
		width: 100%;
		margin-left: -6px;
		padding-top: 20px;
	}

	.appartment-card img {
		object-fit: cover;
		object-position: center;
	}

	.popular {
		flex-direction: unset;
		display: flex;
		flex-wrap: unset;
	}

	.stars-popular{
		margin-top: 63px;
	}
	
	.popular-appartment-card img {
		height: 170px;
	}

	.info-popular-room-card {
		justify-content: space-between;
	}

    .all-popular{
		width: 100%;
	}
	
	#title-right-side{
		font-size: 16px;
	}

	/*ACTIVITES*/
	.activites-Marseille {
		gap: 30px;
	}

	#activites {
		margin-left: 37px;
		margin-right: 37px;
	}

	.cards {
		padding-bottom: 20px;
	}
	#title-activite{
		margin-left: 10px;
	}

	/* FOOTER*/
	footer {
		margin-left: 46px;
		margin-right: 46px;
	}
	.list-footer{
		padding-left: 50px;
		padding-right: 71px;
	}
	footer ul{
		font-size: 12px;
	}
	
	h5{
		font-size: 12px;
	}
}