@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@100&family=Raleway:wght@300;400;700;900&display=swap');

/*BASE DU SITE*/
* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	max-width: 1400px;
	margin: 0;
	padding: 0; 
}
a {
	text-decoration: none;
	color: inherit;
}

/*MENU*/
nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
nav a {
	padding: 16px;
  padding-right: 24px;
}

#logoBooki {
	width: 9%;
	margin-right: auto;
	padding-left: 20px;
}

nav a:hover {
	border-top: 3px solid blue;
}

/*HEADER*/
header {
  margin: auto;
  padding-right: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*MAIN*/
#mainTitle {
	margin-bottom: 32px;
}

h1 {
	font-size: 22px;
	margin: 0.67em 0;
	font-weight: 700;
}

p {
	margin-block-start: 1em;
	font-size: 15px;
}
.wrapper{
	margin-right: 20px;
	margin-left: 20px;
}
/*FORM*/
#research_input {
	height: 43px;
	width: 22%;
	border: solid 1px #F2F2F2;
	font-weight: bold;

}

::placeholder {
	color: black;
	font-size: 15px;
	padding: 7px;
}

#research {
	display: flex;
	
	margin-top: 15px;
	margin-bottom: 30px;
}

#button_research {
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	width: 12%;
	cursor: pointer;
}

#research_button_phone {
	display: none;
}

#icon {
	width: 7%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px 0 0 16px;
	background-color: #f4f3f3;
	text-align: center;
}


/*FILTRES*/
.search_filter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

.filter i {
	color: #0065FC;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filter {
	border: 3px solid var(--colorGray);
	border-radius: 32px;
	display: flex;
	align-items: center;
}

.search_filter .filter {
	font-weight: bold;
	border: 3px solid #F2F2F2;
	border-radius: 32px;
	text-decoration: none;
	margin-left: 25px;
	display: flex;
	padding: 5px 10px 5px 10px;
	flex-wrap: wrap;
	cursor: pointer;
}
.filters{
	display: flex;
}

.fa-info {
	font-size: 12px;
	color: #0065FC;
	border: solid 2px #F2F2F2;
	border-radius: 50%;
	padding: 5px 8px;
	margin-right: 5px;
}

.filter span {
	font-weight: bold;
	margin-left: 8px;
	margin-right: 8px;
	align-items: center;
}

.search_filter div:hover {
	background-color: #DFF2FF;
	transform: scale(1.01);
}

/*INFO */
.fa-info {
	color: #0065FC;
	border: 2px solid lightgray;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchResult {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	margin-bottom: 32px;

}

#phraseinfo {
	display: flex;
	align-items: center;
	width: auto;
	height: 30px;
	margin-top: auto;
}

/*Section hebergement à populaire*/

.hebergements_popular {
	display: flex;
	gap: 32px;
	margin-bottom: 32px;
}

.leftSide {
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 70%;
	padding: 10px 20px;
	flex: 2;
}

#title_leftSide {
	display: flex;
	font-size: 20px;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 16px;
	padding-top: 5px;
}

.appartment-card {
	padding: 4px;
	border-radius: 32px;
	box-shadow: lightgray;
	width: 600px;
	max-width: 30%;
	height: auto;
	object-fit: cover;
	object-position: center;
	background-color: white;
}

.room-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 16px;
	cursor: pointer;
}

.appartment-card img {
	border-radius: 32px 32px 0 0;
	width: 100%;
	height: 120px;
	object-fit: cover;
	object-position: center;
}

#showMore {
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	color: black;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
}


/*LIST APPARTEMENTS CITY*/
.city-appartments-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.city-appartments-list div {
	border: 1px solid white;

}

/*POPULAR*/
#title_rightSide {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 20px;
	margin-bottom: 11px;
    font-size: 19px;
}

.fa-chart-line {
	display: flex;
	align-self: center;
	color: blue;
}

#rightSide {
	flex: 1;
	background-color: #F2F2F2;
	flex-wrap: wrap;
	align-content: space-between;
	border-radius: 16px;
}

.popular {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	cursor: pointer;
}

.popular-appartment-card img {
	border-radius: 16px 0 0 16px;
	display: flex;
	float: left;
	width: 39%;
	height: 144px;
	object-fit: cover;
	object-position: center;

}

.popular-appartment-card {
	background-color: white;
	padding: 3.6px;
	border-radius: 20px;
	box-shadow: 0px 0px 7px 0px gray;
	margin: 13px;
}

.infoPopularRoomCard {
	display: flex;
	flex-direction: column;
	width: 59%;
	height: 50%;
	align-items: flex-start;
	justify-content: space-around;
	padding-left: 8px;
	padding-top: 15px;
}

.star_blue {
	color: #0065FC;
}

.star_grey {
	color: lightgray;
}


/* ACTIVITE  */
#activites {
	margin-bottom: 30px;
}

#activites h2 {
	font-size: 22px;
	margin-bottom: 30px;
}

.activites-Marseille {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap:30px;
	box-shadow: lightgray;
	border-radius: 16px;
}

.cards {
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
}

.marseille img {
	border-radius: 20px 20px 0 0;
	height: 86%;
	width: 100%;
	object-fit: cover;
}

article.cards.marseille {
	height: 88%;
}

#activites .marseille h3 {
	font-size: 16px;
	margin: 0 0;
	line-height: 1;
	padding-left: 15px;
	padding-top: 10px;
}


/*FOOTER*/
footer {
	background-color: #F2F2F2;
    display: flex;	
}
.navFooter{
	justify-content: space-around;
    width: 100%;
}
.navFooter a:hover{
	border-top: transparent;
}

footer ul {
    list-style: none;
    font-size: 16px;
}
h5{
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 10px;
}