@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Montserrat:wght@100&family=Raleway:wght@300;400;700;900&display=swap');

/*BASE DU SITE*/
* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	max-width: 1400px;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 20px;
	margin-top: 20px;
	padding-bottom: 9px;
}

p {
	font-size: 13px;
}
h4{
	font-size: 13px;
}
h5 {
	font-size: 17px;
	margin-top: 10px;
}

/*HEADER*/
header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#logo-booki {
	width: 9%;
	margin-right: auto;
	padding-left: 20px;
}

/*MENU*/
.menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.menu a:visited{
	color: #0065FC;
}
.menu a {
	padding: 16px;
	padding-right: 24px;
	color: #000;
}

.menu a:hover {
	border-top: 3px solid blue;
}

/*MAIN*/
#main-title {
	padding-bottom: 32px;
	margin-right: 16px;
	margin-left: 20px;
	padding-top: 20px;
}

/*FORM*/
#research-input {
	height: 43px;
	width: 22%;
	border: solid 1px #F2F2F2;
	font-weight: bold;
}

::placeholder {
	color: black;
	font-size: 15px;
	padding: 7px;
}

#research {
	display: flex;
	padding-top: 15px;
	padding-bottom: 30px;
	margin-left: 20px;
}

#button-research {
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border: none;
	width: 10%;
	cursor: pointer;
}

#research-button-phone {
	display: none;
}

#icon {
	width: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px 0 0 16px;
	background-color: #f4f3f3;
	text-align: center;
}

/*FILTRES*/
.search-filter {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 32px;
	margin-left: 16px;
}

.filter i {
	color: #0065FC;
	margin-left: 15px;
}

.filter {
	border: 3px solid var(--colorGray);
	border-radius: 32px;
	display: flex;
	align-items: center;
}

.filter-one {
	display: flex;
	margin-left: 20px;
	gap: 20px;
}

.filter-two {
	display: flex;
	gap: 20px;
}

.search-filter .filter {
	font-weight: bold;
	border: 3px solid #F2F2F2;
	border-radius: 32px;
	text-decoration: none;
	flex-direction: row;
	cursor: pointer;
	height: 40px;
}

.filters {
	display: flex;
	gap: 15px;
	height: 30px;
}

.fa-info {
	font-size: 12px;
	color: #0065FC;
	border: solid 2px #F2F2F2;
	border-radius: 50%;
	padding: 5px 8px;
}

.filter span {
	font-weight: bold;
	margin-left: 8px;
	margin-right: 8px;
	align-items: center;
	font-size: 13px;
}

.filter:hover {
	background-color: #DFF2FF;
	transform: scale(1.01);
}

#h2-filters{
	font-size: 20px;
}

/*INFO */
.fa-info {
	color: #0065FC;
	border: 2px solid lightgray;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-result {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	padding-bottom: 32px;
	margin-left: 28px;
}

#phrase-info {
	display: flex;
	align-items: center;
	width: auto;
	height: 30px;
	margin-top: auto;
}

/*SECTION HEBERGEMENT*/
.hebergements-popular {
	display: flex;
	gap: 32px;
	margin-bottom: 32px;
}

.left-side {
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 70%;
	padding: 10px 20px;
	flex: 2;
	margin-left: 20px;
}

#title-left-side {
	display: flex;
	font-size: 16px;
	width: 100%;
	margin-bottom: 20px;
	padding-left: 16px;
	padding-top: 5px;
}

.appartment-card {
	padding: 4px;
	border-radius: 32px;
	width: 100%;
	max-width: 30%;
	height: auto;
	object-fit: cover;
	object-position: center;
	background-color: white;
}

.info-hebergement-card {
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left: 10px;
}

.room-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 16px;
	cursor: pointer;
}

.appartment-card img {
	border-radius: 32px 32px 0 0;
	width: 100%;
	height: 120px;
	object-fit: cover;
	object-position: center;
}

#show-more {
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	color: black;
	padding-top: 36px;
	padding-bottom: 23px;
	display: inline-block;
	margin-left: 12px;
}
.stars{
	padding-top: 2px;
}

/*LIST APPARTEMENTS CITY*/
.city-appartments-list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.city-appartments-list div {
	border: 1px solid white;

}

/*POPULAR*/
#title-right-side {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-left: 19px;
	padding-right: 15px;
	padding-top: 20px;
	margin-bottom: 11px;
	font-size: 16px;
}

.fa-chart-line {
	display: flex;
	align-self: center;
	color: blue;
}

#right-side {
	flex: 1;
	background-color: #F2F2F2;
	flex-wrap: wrap;
	align-content: space-between;
	border-radius: 16px;
	margin-right: 20px;
	padding-bottom: 20px;
}

.popular {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	cursor: pointer;
}

.popular-appartment-card img {
	border-radius: 16px 0 0 16px;
	display: flex;
	width: 39%;
	height: 146px;
	object-fit: cover;
	object-position: center;

}

.popular-appartment-card {
	background-color: white;
	padding: 4px;
	border-radius: 20px;
	box-shadow: 0px 0px 7px 0px gray;
	margin: 8px;
	display: flex;
}

.info-popular-room-card {
	display: flex;
	flex-direction: column;
	width: 59%;
	padding-left: 12px;
	padding-top: 8px;
	justify-content: space-between;
}

.star_blue {
	color: #0065FC;
}

.star_grey {
	color: lightgray;
}

.stars-popular{
	margin-top: 80px;
}

/* ACTIVITE  */
#activites {
	margin-bottom: 30px;
}

#title-activite{
	margin-left: 32px;
	padding-bottom: 16px;
	padding-top: 16px;
}

#activites h2 {
	font-size: 18px;
	margin-bottom: 30px;
	margin-left: 16px;
}

.activites-Marseille {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 30px;
	border-radius: 16px;
	margin-left: 16px;
	margin-right: 22px;
}

.cards {
	background-color: white;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 6%);
}

.marseille img {
	border-radius: 20px 20px 0 0;
	height: 86%;
	width: 100%;
	object-fit: cover;
}

article.cards.marseille {
	height: 88%;
}

#activites .marseille h3 {
	font-size: 13px;
	margin: 0 0;
	line-height: 1;
	padding-left: 15px;
	padding-top: 15px;
}

/*FOOTER*/
footer {
	background-color: #F2F2F2;
	display: flex;
	padding-top: 30px;
	padding-bottom: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.list-footer {
	display: flex;
	flex-direction: column;
	line-height: 2;
	padding-right: 94px;
	padding-left: 104px;
}

.footerList a:hover {
	border-top: transparent;
}

footer ul {
	list-style: none;
	font-size: 16px;
}